---
layout: default
title: 首页
---

<div class="posts">
  {% for post in paginator.posts %}
    {% if post.hidden %}
    
    {% else %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>
    
        <span class="post-date">{{ post.date | date_to_string }}</span>
    
        {% if post.content contains '<!-- more -->' %}
            {{ post.content | split:'<!-- more -->' | first }}
            <p><a href="{{ post.url }}">{{ site.moredesc }}>></a></p>
        {% else %}
            {% if post.content | size > 300 %}
                {{ post.excerpt }}
                <p><a href="{{ post.url }}">{{ site.moredesc }}>></a></p>
            {% else %}
                {{ post.content }}
            {% endif %}
        {% endif %}
    
      </div>
    {% endif %}
  {% endfor %}
</div>

<nav>
  <ul class="pagination">
    <li>
      {% if paginator.page == 1 %}
      {% elsif paginator.page == 2%}
      <a href="{{ site.baseurl }}" aria-label="Previous">
        <span aira-hidden="true">&laquo;</span>
      </a>
      {% else %}
      <a href="{{ site.baseurl }}page{{paginator.previous_page}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      {% endif %}
    </li>
    
    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li class="active">
      <a href="#">{{ page }}</a>
    </li>
    {% elsif page == 1 %}
    <li>
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      <li>
    {% else %}
    <li>
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    </li>
    {% endif %}
    {% endfor %}
    
    <li>
      {% if paginator.page == paginator.total_pages %}
      {% else %}
      <a href="{{ site.baseurl }}page{{paginator.next_page}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      {% endif %}
    </li>
    <li class="disabled hidden">
      <span aria-hidden="false">{{ paginator.total_pages }}</span>
    </li>
  </ul>

</nav>
