
html, body {
    height: 100%;
}

body {
    background: none repeat scroll 0 0 #fff;
    font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: 16px;
    line-height: 1.8;
    text-align: jusitify;
}

